body {
  * {
    @apply transition;
  }

  .load-rotating {
    animation: rotating 1s linear infinite;
  }

  @keyframes rotating {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateY(-2rem);
    opacity: 0 !important;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}
