{
  "tabWidth": 2,
  "semi": false,
  "printWidth": 120,
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "plugins": ["@prettier/plugin-pug", "prettier-plugin-css-order", "prettier-plugin-tailwindcss"]
}
