{
  "tabWidth": 2,
  "semi": false,
  "printWidth": 120,
  "singleQuote": true,
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-css-order", "@prettier/plugin-pug"]
}
