/*
 * @Author: fzf404
 * @Date: 2022-07-20 11:34:27
 * @LastEditors: fzf404 nmdfzf404@163.com
 * @LastEditTime: 2022-09-24 21:46:46
 * @Description: dark 黑夜主题
 */

/**
 * 基底
*/
#app {
  @apply bg-black bg-opacity-50 text-gray-200;
}

/**
 * 文字
 */
.text-gray {
  @apply text-gray-400;
}

.text-dark {
  @apply text-gray-700;
}

.text-theme {
  @apply text-pink-400;
}

/**
 * 底色
 */

.bg-theme {
  @apply bg-purple-400;
}

/**
 * 模态框
 */
.modal {
  @apply bg-black bg-opacity-40;
}

/*
 * 设置
 */
.setting {
  ul {
    @apply ring-opacity-50 ring-purple-500 bg-gray-800;

    // 设置内容
    li {
      @apply bg-gray-700;

      label {
        @apply text-gray-300;
      }

      select {
        @apply bg-gray-800 text-purple-500 focus:text-purple-400;
      }

      button {
        @apply bg-indigo-500 hover:bg-indigo-400;
      }

      input[type='checkbox'] {
        @apply accent-purple-500;
      }

      input[type='number'],
      input[type='text'] {
        @apply bg-gray-800 text-purple-500 focus:text-purple-400;
      }
    }

    // 设置操作
    ol {
      button {
        @apply bg-purple-500 hover:bg-purple-400;
      }
    }
  }
}
