/*
 * @Author: fzf404
 * @Date: 2022-07-20 12:52:31
 * @LastEditors: fzf404 me@fzf404.art
 * @LastEditTime: 2022-11-15 19:34:53
 * @Description: light 明亮主题
 */

/*
 * 基底
 */

#app {
  @apply bg-gray-300 bg-opacity-50;
}

/*
 * 文字
 */

.text-light {
  @apply text-gray-100;
}

.text-gray {
  @apply text-gray-300;
}

.text-deep {
  @apply text-gray-500;
}

/*
 * 背景
 */

.text-theme {
  @apply text-sky-400;
}

.bg-theme {
  @apply bg-blue-400;
}

.border-theme {
  @apply border-blue-400;
}

/*
 * 模态框
 */

.modal {
  @apply bg-gray-500 bg-opacity-50;
}

/*
 * 设置
 */

.setting {
  ul {
    @apply bg-gray-200 ring-blue-400 ring-opacity-50;

    // 设置内容
    li {
      @apply bg-white shadow;

      label {
        @apply text-gray-500;
      }

      button {
        @apply btn-sky;
      }

      select {
        @apply bg-gray-200 text-blue-500 shadow-inner focus:text-blue-600;
      }

      input[type='checkbox'] {
        @apply accent-blue-500;
      }

      input[type='number'],
      input[type='text'] {
        @apply bg-gray-200 text-blue-500 shadow-inner focus:text-blue-600;
      }
    }

    // 设置操作
    ol {
      button {
        @apply btn-blue;
      }
    }
  }
}
