/*
 * @Author: fzf404
 * @Date: 2022-07-20 12:52:31
 * @LastEditors: fzf404 hi@fzf404.art
 * @LastEditTime: 2022-09-29 18:13:30
 * @Description: light 明亮主题
 */

/**
 * 基底
 */
#app {
  @apply bg-gray-300 bg-opacity-50 text-gray-100;
}

/**
 * 文字
 */
.text-gray {
  @apply text-gray-300;
}

.text-dark {
  @apply text-gray-500;
}

.text-theme {
  @apply text-sky-400;
}

/**
 * 底色
 */

.bg-theme {
  @apply bg-blue-400;
}

/**
 * 模态框
 */
.modal {
  @apply bg-gray-500 bg-opacity-50;
}

/**
 * 设置
 */
.setting {
  ul {
    @apply ring-opacity-50 ring-blue-400 bg-gray-200;

    // 设置内容
    li {
      @apply shadow bg-white;

      label {
        @apply text-gray-500;
      }

      button {
        @apply btn-sky;
      }

      select {
        @apply shadow-inner bg-gray-200 text-blue-500 focus:text-blue-600;
      }

      input[type='checkbox'] {
        @apply accent-blue-500;
      }

      input[type='number'],
      input[type='text'] {
        @apply shadow-inner bg-gray-200 text-blue-500 focus:text-blue-600;
      }
    }

    // 设置操作
    ol {
      button {
        @apply btn-blue;
      }
    }
  }
}
