/*
 * @Author: fzf404
 * @Date: 2022-07-20 12:52:31
 * @LastEditors: fzf404 hi@fzf404.art
 * @LastEditTime: 2022-09-28 18:07:06
 * @Description: punk 赛博主题
 */

/**
 * 基底
 */
#app {
  @apply bg-indigo-700 bg-opacity-50 text-gray-200;
}

/**
 * 文字
 */
.text-gray {
  @apply text-amber-300;
}

.text-dark {
  @apply text-indigo-600;
}

.text-theme {
  @apply text-red-400;
}

/**
 * 底色
 */

.bg-theme {
  @apply bg-orange-400;
}

/**
 * 模态框
 */
.modal {
  @apply bg-indigo-800 bg-opacity-50;
}

/**
 * 设置
 */
.setting {
  ul {
    @apply bg-amber-200 ring-indigo-400 ring-opacity-50;

    // 设置内容
    li {
      @apply bg-amber-100 shadow;

      label {
        @apply text-indigo-700;
      }

      select {
        @apply bg-gray-200 text-indigo-500 shadow-inner focus:text-indigo-400;
      }

      button {
        @apply bg-blue-500 hover:bg-blue-600;
      }

      input[type='checkbox'] {
        @apply accent-indigo-500;
      }

      input[type='number'],
      input[type='text'] {
        @apply bg-gray-200 text-indigo-500 shadow-inner focus:text-indigo-600;
      }
    }

    // 设置操作
    ol {
      button {
        @apply bg-indigo-500 hover:bg-indigo-600;
      }
    }
  }
}
